doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BIKE_STORE
        link(rel="stylesheet", href="/css/styles.css")
    body 

        header.header
            ul.menus
                li.header_mn
                    a(href="/") 메인화면 
                        i.fas.fa-bicycle 
                li.header_vs
                    a(href="/vs") 비교하기
                li.header_rw
                    a(href="/review") 리뷰쓰기,보기
                li.header_ib
                    a(href="/basket") 장바구니
                if loggedIn
                    li.header_lg
                        a(href="/logout") 로그아웃
                else
                    li.header_sin
                        a(href="/signin") 로그인
                    li.header_sun
                        a(href="/signup") 회원가입
        

        block content 
                
        footer.footer 
            div.ceo 대표: 홍도기
            div.businessNumber 사업자 번호: 123-45-12345
            div.adress 주소: 충청남도 공주시 신금2길 17, 모두의 자전거 공주센터
            div.phoneNumber 번호: 1234-1424
            div.email 메일: 4leaf.edu.hdk@gmail.com
