doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BIKE_STORE
        link(rel="stylesheet", href="/css/styles.css")
    body 

        header.header
            div.header_mn
                a(href="/") MAIN
            div.header_rw
                a(href="/review") REVIEW
            div.header_sn
                a(href="/signup") SIGNUP
            div.header_ib
                a(href="/innerBike") innerbike
        block content 
                
        footer.footer FOOTER