extends ../layouts/base.pug

block content

    nav.dictionaryNav 
        div.fixeh1  픽시
            div.fixe_img
            div.fixe_txt1   기어비가 고정된 자전거(fixed-gear bicycle), 즉 기어변속기가 없는 자전거를 지칭한다. 흔히 영어 약칭인 픽시(fixie)로 지칭한다.
                div.txt1_1  멋있다 - 특유의 심플한 디자인 덕에 깔끔하면서도 세련된 느낌을 준다
                            h6 트릭키한 주행이 가능하다 - 프리훨이 없으므로 페달에서 발을 떼도 바퀴가 돌아가는 한 페달도 같이 돌아간다. 이러한 특성을 이용해 페달을 강제로 멈춰서 뒷바퀴를 잠그고 차체를 흔드는 스키딩, 앞뒤로 왔다갔다 하며 제자리에서 서는 스탠딩 그리고 뒤로 돌려서 후진도 가능하다.
                            h6 우수한 신뢰성 - 가변 기어나 프리휠 같은 복잡한 구동계가 없어 구조가 간단하기 때문에 고장이 적다. 험하게 타도 고장날 일이 잘 없고 정비도 간단하다..
                            h6 저렴함 - 50 ~ 100만원 내외는 투자해야 그나마 쓸만한 잔차 한 대 뽑는 일반 자전거에 비해 픽시는 그보다 조금 싼 가격에 준수한 성능을 기대 할 수 있다. 이 점 때문에 메신저들과 지갑이 얇은 중고등학생과 대학생들에게 인기가 좋다.[2]

                div.txt1_2  체력소모 - 일반 자전거와는 달리 쉬지 않고 계속 페달을 돌려야 하기 때문에 체력 소모가 크다. 하드코어한 라이딩을 위한다면 단점이 아닐 수도 있지만, 이 때문에 체력을 아끼면서 안정적인 라이딩이 중요한 국토종주 같은 장거리 여행에는 부적합.
                            h6 안전성 - 프리휠이 불가능하기 때문에 코너링 시 페달이 지면을 칠 위험이 있다. 픽시 자전거는 이 문제 때문에 짧은 크랭크를 사용하는 경우가 많다.
                            h6 대처능력 미흡 - 기어비가 고정이라서, 언덕길이나 험지에서도 평지나 포장도로와 동일한 기어비로 달려야 해서 유연성이 대폭 떨어진다.
        hr
        div.mini    미니벨로
            div.mini_img
            div.mini_txt2   Mini(작은)+Vélo(프랑스어로 자전거). 일반적으로 20인치 미만의 휠을 사용하는 자전거.
               div.txt2_1   작아서 보관이 용이하다. (하지만 비접이식의 경우 실제 크기는 일반 자전거와 큰 차이는 없다) [6]
                            h6  접이식은 접어서 항상 곁에 둘수 있어서 도난 걱정이 없다. 대중 교통 연계 이용이 가능하다.
                            h6  가속 감속이 쉬우므로 출발과 멈춤이 많은 도로환경에서 유리하다.
                            h6  가속이 빠르다. 이 장점을 살린 자전거가 미니 스프린터
                            h6  현재 지하철, 버스에 요일 상관없이 휴대가능한 자전거는 접이식 밖에 없다. 장거리 점프로 라이딩을 할때 최적화 되어있다.
                            h6  앞, 뒤 패니어랙을 장착하면 자전거캠핑용으로 좋다.
                            h6  작은 크기만큼 가볍다.
                            h6  상대적으로 사용자의 체격에 따른 구애가 적다. 프레임의 높이가 낮아 일반 자전거에 비해 핸들바와 안장의 길이가 길다. 길이가 긴 만큼 세팅이 다양하다.
                            h6  핸들포스트부분을 활용하여 가방이나 물통을 달 수 있다.

                            h6 승차감이 나쁘다. - 프레임이 작고 접이식 구조나 보강 구조/재질 탓에 단단해지므로 그만큼 충격 흡수에 불리하다. 바퀴마저 충격 흡수가 잘 안되므로 더욱 더 승차감에서 손해를 본다. 드물게 MTB 처럼 서스펜션(샥 업소버)이 있는 미니벨로도 있기는 한데, 일단 이런게 들어가면 한없이 무거워지며, 그리고 당연하게도 미니벨로용에는 흡수력이 좋은 고급 샥이 안 나오므로 별반 도움이 안 된다. 승차감이 가장 나쁜 것이 고압타이어를 사용하는 휠셋을 붙인 크롬몰리 프레임의 미니스프린터.
                            h6 일반 자전거 대비 비싸다. - 일단 생산량이 적고, 접식 등 구조 때문에 타 규격 부품을 쓰는 것이 많으니 어쩔수 없다.
                            h6 일반 자전거보다 무겁다. - 접이식에 해당된다. 접히는 부분의 구조와 보강 구조나 소재 때문에 더 무거워진다. 접히는데도 무게가 안 무겁다면 대신 매우 비싸다.
                            h6 소모성 부품이 일반 자전거보다 빠르게 소모된다. - 바퀴가 작은 만큼 회전수가 높아진 탓.
                            h6 덩치가 큰 사람이 탔을 경우, 곰간지 스킬이 자동 적용 된다. 자전거가 눌리고 있어 미니벨로 특성상 덩치가 있는 사람들이 타면 겉보기에 자전거가 불쌍해보일 정도라 동호인들은 그러려니 해도 일반인들에겐 웃음거리가 되기 쉽다.
                            h6 BB높이가 낮아지므로, 회전할 때 페달링을 하거나 회전 안쪽 크랭크가 아래를 향하게 밟고 있으면 페달이 바닥을 치면서 자빠질 수가 있다. 급커브에서는 물론 웬만큼 큰 반경으로 회전할 때도 바깥쪽 발이 6시 방향으로 가게 밟고 있어야 한다.
                            h6 부품 호환성이 떨어진다. - 속도나 조종성, 패션성, 접이식 구조를 위해 전용 부품을 쓰는 일이 많다. 독자 규격 부품을 쓰는 다혼이나 브롬톤[8] 같은 회사도 있고.
                            h6 어린이용 자전거 취급을 받는다.
                            h6 시야가 나쁘다. - 바퀴 큰 자전거와 그룹 라이딩시, 낮은 만큼 앞사람에 가려 앞이 잘 안 보인다.앞 사람 엉덩이만 보인다
                            h6 장거리에 고속 주행에 불리하다. - 앞의 조향 안정성 및 승차감에서 오는 피로의 원인이 크다.[10]
                            h6 도난이 잦다. - 어디든 접어서 곁에 두어 도난을 원천 방지할수 있는 접이식을 제외하고, 싼 자전거처럼 보이는지라[11] 학생이나 양아치들이 가벼이 생각하고 곧잘 훔쳐간다. [12]
                            h6 접이식 특성상 특히 업힐하는 경우, 토크가 걸리면 관절 부분에서 잡소리가 난다.
        hr
        div.mtb     MTB
            div.mbt_img
            div.mtb_txt3h6  Mountain Terrain Bike. 산악 지형용 자전거를 의미한다.
                div.txt3_1      튼튼하다 - 프레임과 휠셋의 견고성은 다른 어떤 유형의 자전거에도 뒤지지 않는다.
                            h6  타기 쉽다 - 조향 및 반응성이 높아 다루기 쉽다. 휠베이스는 약간 짧은 편이라 직선 주행 안정성은 로드나 투어링에 비해 약간 낮지만, 체감하기 어려운 정도다. 또한 로드 자전거에 비해 상체를 펴고 탈 수 있어 자전거 초보자도 편하게 탈 수 있다.
                            h6  노면 충격 경감 - 완충장치(샥)가 달려있어 노면의 충격이 엉덩이, 발, 손에 잘 전달되지 않아 안락하다.
                            h6  범용성이 높다 - 노면 상태를 막론하고 탈 수 있으며 아예 길이 없는 곳에서 가장 빛을 발한다.

                div.txt3_2  도로에서 느리다 - 타이어 특성상 도로 주행 시 로드 자전거에 비해 약간 느린 편이다. 타이어를 트레드가 없는 것으로 바꾸더라도 구동계(체인링과 카세트)의 구성 때문에 지속적인 고속 주행은 어렵다. 페달링 파워 중 일부가 리어 샥으로 흡수되는데다, 차체의 형태(지오메트리) 자체가 공격적인 주행에 적합한 형태가 아니다.
                            h6  무겁다 - 프레임과 휠셋이 튼튼하고 두껍게 만들어진 데다 샥이 달려있어 다소 무거운 편이다(특히 로드에 비해).
                            h6  장시간 주행 시 손이 아프다 - MTB의 특징인 플랫바(일자 핸들)는 컨트롤에는 유리하지만 브레베 같은 장시간 주행에 적합하지 않다. 손과 팔의 해부학적 중립 자세는 양 손이 약 45도 각도로 내전한 상태인데, 플랫바를 잡으면 그 자세가 나오지 않으며 드랍바처럼 핸들바의 다양한 부분을 바꿔가며 잡음으로써 손과 팔의 피로를 경감시킬 방법도 없기 때문이다. 때문에 만약 MTB를 장시간 타려는 경우 바엔드 그립이라는 부품을 달거나 멀티바로 교체하여 손의 피로를 줄일 수 있도록 대책을 마련해야 한다.
                            h6  비싸다 - 생활차나 유사 MTB에 비하면 가격이 높다. 샥이 달린 프레임셋이 기본적으로 고가품이기 때문. 물론 로드 자전거들 중에는 샥 따위 없어도 수천만원을 호가하는 물건들이 있지만...        hr
        div.road    로드
            div.road_img
            div.road_txt4   속도를 추구하는 자전거. 경륜 자전거의 직계 후손인 픽시를 제외하면 가장 자전거의 원형에 가까운 자전거이다.
                div.txt4_1  승차감 - 사실 구조상 초고압은 사용할래야 사용할 수가 없다. 일반 클린처에 비해서 약 5~15 psi 정도 낮은 압력을 사용한다.
                            h6  펑크에 더 강하다 - 험지를 주행해도 괜찮을 정도로 펑크에 더 강한데다가, 설령 펑크가 나도 타이어 압력이 천천히 줄어든다. '트림 펑크 (Burp Flat)'이라고 불리는 현상이 있긴 하지만, 로드바이크에서는 잘 일어나지 않으므로 문제가 되지 않는다. 실란트 덕분이 작은 펑크는 그냥 막아진다.
                            h6  가볍다 - 예전 나왔던 튜블리스 타이어는 기밀성때문에 비드가 두꺼워 무겁고 장착도 어려웠으나 2016년쯤부터는 무게 차이가 매우 적고 장착도 쉬워졌다. 튜브의 무게가 빠지는 만큼 클린처 타이어보다 가볍다.
                            h6  응급수리가 용이하다 - 실란트나 테이프로 도저히 해결이 안 된다 싶으면 수리를 할 수 있을 때까지 임시로 일반 클린처처럼 튜브를 끼워 넣으면 된다. 참 쉽죠? 자동차처럼 펑크 난 구멍을 펑크 씰(지렁이)로 막을 수도 있다.

                div.txt4_2  타이어 교환에 많은 시간과 노력이 들어간다 - 따로 튜브가 없고 림과 비드 사이의 결합으로 기압을 유지하는 특성상, 처음에 밀폐가 제대로 되도록 하는 데 많은 노력이 필요하다. 장착이 어려워 CO2나 컴프레셔를 이용하는 경우도 많았으나 요즘은 일반 펌프로도 잘 되는편이다. 예전보다는 장착이 쉽다지만 타이어 주걱 등을 잘못 사용해 타이어가 변형되면 기밀이 잘안되므로 주의가 필요하다. 실란트가 거의 필수적인데 타이어와 림 사이에 실란트가 들어가므로 림이 더러워진다.
                            h6  실란트를 주기적으로 교체해주어야 한다 - 자전거 바퀴를 굴리지 않은 상태로 그대로 방치했을 때 타이어 안에서 실란트가 굳는 일이 발생한다. 자전거를 주기적으로 타고 있더라도 덥거나 건조한 날씨에는 실란트가 증발하게 된다. 미캐닉들은 보통 한달에서 세달에 한 번 남아 있는 실란트를 확인하고 교체할 것을 권고하고 있는데, 앞서 말했듯이 실란트 교체에는 타이어 교환만큼 많은 시간과 노력이 들어간다.
        hr

