extends ../layouts/base.pug

block content

    nav.dictionaryNav 
        a(href="#") 픽시
            div <h1>  변속이 불가능한 고정식 기어를 장착한 자전거를 말합니다.
                <h6>  변속기어가 없기 떼문에 오직 주행자의 힘으로만 움직이는 방식으로 큰 인기를 끌어 픽시 자전거 매니아층이 형 <br> 성되어 있습니다.
        hr
        a(href="#") 미니벨로
        hr
        a(href="#") MTB
        hr
        a(href="#") 로드

