extends ../layouts/base.pug

block content

    nav.dictionaryNav 
        div.fixe <h1> 픽시
            div.fixe_txt <h6>  변속이 불가능한 고정식 기어를 장착한 자전거를 말합니다.
                div.txt_1    <h6>  변속기어가 없기 떼문에 오직 주행자의 힘으로만 움직이는 방식으로 큰 인기를 끌어 픽시 자전거 매니아층이 형성되어 있습니다. 픽시 자전거를 구매하기 전 사용 용도에 맞게 프레임 디자인, 무게, 핸들바, 기어비를 고려하여 선택하여야 합니다.
        hr
        div.mini <h1> 미니벨로
        hr
        div.mtb MTB
        hr
        div.road 로드

