extends ../layouts/base.pug

block content 
    ssection.whole
        section.row_1
            div.bikeBox_1
            div.bikeBox_2
            div.bikeBox_3
        section.row_2    
            div.bikeBox_4
            div.bikeBox_5
            div.bikeBox_6
        section.row_3   
            div.bikeBox_7
            div.bikeBox_8
            div.bikeBox_9
