extends ../layouts/base.pug

block content 
    ssection.wholeWrapper 
        section.XX__left 
        section.rsWrapper
            div.rsWrapper__col1__sec3__t1
            div.rsWrapper__col1__sec3__t2
            div.rsWrapper__col1__sec3__t3
            div.rsWrapper__col1__sec3__t4
            div.rsWrapper__col1__sec3__t5
            div.rsWrapper__col1__sec3__t6
            div.rsWrapper__col1__sec3__t7
        section.XX_right 