extends ../layouts/base.pug

block content
    body 
        form(action="/register" method="POST")
            div
                label(htmlfor="email") EMAIL 
                input(type="email" name="email" id="email" required)
            div
                label(htmlfor="password") PASSWORD
                input(type="password" name="password" id="password" required)
            div
                label(htmlfor="nickname") NICKNAME 
                input(type="text" name="nickname" id="nickname" required)

            input(type="submit" value="SIGN UP")