extends ../layouts/base.pug

block content       
    block content
        secton.signupCheckBox
            div.signupCheckBox_txt1  이용약관 동의
            div.signupCheckBox_box1
                input(type="checkbox")   
                span 동의하시겟습니까?     
                br
                hr
            div.signupCheckBox_txt2  개인정보 처리방침
            div.signupCheckBox_box2
                input(type="checkbox")   
                span 동의하시겟습니까? 
                br
                hr
        form(action="/signup/userCreate" method="post")
            input(type="text" name="userId"  placeholder="아이디" required) 
            input(type="password" name="userPassword"  placeholder="비밀번호" required) 
            input(type="text" name="nickname"  placeholder="닉네임" required) 
            input(type="text" name="phone"  placeholder="전화번호" required) 
            SELECT.selectbox(name="gender")
                option(value="남성") 남성
                option(value="여성") 여성
                option(value="공개안함" sleectd) 공개안함
            input(type="text" name="hobby"  placeholder="취미" required)     
            input(type="submit" value="SIGN UP")

            br
            hr
            br
