.header {
  width: 100%;
  height: 70px;
  background-color: #fcfefd;
  margin-bottom: 50px;
}

.menus {
  width: 100%;
  height: 70px;
  background-color: #fcfefd;

  position: fixed;
  box-shadow: 2px 2px 4px gray;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer {
  width: 100%;
  height: 240px;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  bottom: 0px;
}

.ceo {
  color: blanchedalmond;
  font-family: "Jua", sans-serif;
}

.businessNumber {
  color: blanchedalmond;
  margin-top: 7px;
  font-family: "Jua", sans-serif;
}

.adress {
  color: blanchedalmond;
  margin-top: 7px;
  font-family: "Jua", sans-serif;
}

.phoneNumber {
  color: blanchedalmond;
  margin-top: 7px;
  font-family: "Jua", sans-serif;
}

.email {
  color: blanchedalmond;
  margin-top: 7px;
  font-family: "Jua", sans-serif;
}

.fas.fa-bicycle {
  font-size: 35px;
}

.menus {
  font-family: "Jua", sans-serif;
}

.header_mn .fas.fa-bicycle:hover {
  transition: 0.5s;
  border-bottom: 2px solid lightblue;
  color: greenyellow;
}

.header_vs .vs_bt:hover {
  transition: 0.5s;
  border-bottom: 2px solid lightblue;
  color: greenyellow;
}

.header_rw .rw_bt:hover {
  transition: 0.5s;
  border-bottom: 2px solid lightblue;
  color: greenyellow;
}

.header_ib .ib_bt:hover {
  transition: 0.5s;
  border-bottom: 2px solid lightblue;
  color: greenyellow;
}

.header_lg .lg_bt:hover {
  transition: 0.5s;
  border-bottom: 2px solid lightblue;
  color: greenyellow;
}

.header_sin .sin_bt:hover {
  transition: 0.5s;
  border-bottom: 2px solid lightblue;
  color: greenyellow;
}

.header_sun .sun_bt:hover {
  transition: 0.5s;
  border-bottom: 2px solid lightblue;
  color: greenyellow;
}
