.header {
    width: 100%;
    height: 70px;
    background-color: whitesmoke;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.header .header_mn:hover {
    transition: 0.5s;
}
