.reviewwhole {
  width: 50%;
  height: 30%;
}

.reviewBox_txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviewForm {
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
